GEMINI_API_KEY=""
OPENAI_API_KEY=""
OPENROUTER_API_KEY=""
ANTHROPIC_API_KEY=""
AI_API_KEY=""

APP_URL="http://localhost:3000"
PORT="3000"

DB_HOST="localhost"
DB_PORT="3306"
DB_USER="root"
DB_PASSWORD=""
DB_DATABASE="SIKOWALI"
